<%  for(var i = 0 ; i < products.length; i ++) { %>
<li>
    <div class="util-text-center">
        <a href="/product/view?id=<%= products[i]._id %>">
            <div class="product-img" style="background-image: url(<%= products[i].image_url%>);">
            </div>
        </a>
        <div>
            <h5 class="ui-nowrap ui-whitespace ui-txt-warning product-name"><a href="/product/view?id=<%= products[i]._id %>"><%= products[i].name%></a></h5>
        </div>
    </div>
</li>
<% } %>