<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>以酒会友</title>
    <link rel="stylesheet" href="css/frozen.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/util.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body ontouchstart="">
<header class="ui-header ui-header-positive ui-border-b">
    <input type="hidden" id="userId" value="<%= user._id%>">
    <a href="/user"><img class="ui-avatar ui-avatar-custom" src="<%= user.headimgurl %>" alt="<%= user.nickname %>"></a>
    <h1>以酒会友</h1>
    <i class="add-article fa fa-plus-circle"></i>
</header>
<footer class="ui-footer ui-footer-btn ui-footer-custom">
    <ul class="ui-tiled ui-border-t">
        <li >
            <a class="navigation-menu" href="/">
                <div class="fa fa-home" ></div>
                <div style="font-size: 12px">主页</div>
            </a>
        </li>
        <li >
            <a class="navigation-menu" href="/product">
                <div class="fa fa-th" ></div>
                <div style="font-size: 12px">产品展厅</div>
            </a>
        </li>
        <li >
            <a class="navigation-menu" href="/bbs">
                <div class="fa fa-beer" ></div>
                <div style="font-size: 12px">以酒会友</div>
            </a>
        </li>
        <li >
            <a class="navigation-menu" href="/about">
                <div class="fa fa-phone" ></div>
                <div style="font-size: 12px">关于我们</div>
            </a>
        </li>
    </ul>
</footer>
<section class="ui-container index">


</section>
<div class="ui-poptips ui-poptips-success util-hidden">
    <div class="ui-poptips-cnt"><i></i>所有帖子已加载完毕~</div>
</div>

<div class="ui-loading-block">
    <div class="ui-loading-cnt">
        <i class="ui-loading-bright"></i>
        <p>正在加载中...</p>
    </div>
</div>
<script src="/js/lib/requirejs/require.js"></script>
<script src="/js/lib/requirejs/require-config.js"></script>
<script>
    require(["/js/bbs/list.js"], function (list) {
        list.initData();
        list.eventBind();
    })
</script>
</body>

</html>