<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>微社区 | 添加评论</title>
    <link rel="stylesheet" href="/css/frozen.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body ontouchstart="">
<input type="hidden" value="<%= article._id %>" id="articleId">
<header class="ui-header ui-header-positive ui-border-b">
    <i class="ui-icon-return" onclick="history.back()"></i>
    <h1>添加评论</h1>
    <button class="ui-btn " id="menu">
        <i class="fa fa-bars"></i>
    </button>
</header>
<div class="ui-footer ui-footer-stable ui-btn-group ui-border-t">
    <button class="ui-btn ui-btn-primary submitComment">
        <i class="fa fa-commenting"></i> 添加
    </button>
</div>
<section class="ui-container">

</section>
<section id="actionsheet">
    <div class="ui-actionsheet">
        <div class="ui-actionsheet-cnt">
            <h4>全部话题筛选</h4>
            <button class="select-top">全部</button>
            <button class="select-top">热门</button>
            <button class="select-top">精华</button>
            <button class="ui-actionsheet-del">登录</button>
            <button id="cancel">取消</button>
        </div>
    </div>
</section>
<script src="/js/lib/requirejs/require.js"></script>
<script src="/js/lib/requirejs/require-config.js"></script>
<script>
    require(["addComment"], function (addComment) {
        addComment.init();
    })
</script>
</body>

</html>