<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>微社区 | 主页</title>
    <link rel="stylesheet" href="css/frozen.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/util.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ontouchstart="">
<header class="ui-header ui-header-positive ui-border-b">
    <h1>主页</h1>

</header>
<footer class="ui-footer ui-footer-btn ui-footer-custom">
    <ul class="ui-tiled ui-border-t">
        <li data-href="index.html" >
            <div class="fa fa-home" ></div>
            <div style="font-size: 12px">主页</div>
        </li>
        <li data-href="index.html" >
            <div class="fa fa-th" ></div>
            <div style="font-size: 12px">产品展厅</div>
        </li>
        <li data-href="index.html" >
            <div class="fa fa-beer" ></div>
            <div style="font-size: 12px">以酒会友</div>
        </li>
        <li data-href="index.html" >
            <div class="fa fa-phone" ></div>
            <div style="font-size: 12px">关于我们</div>
        </li>


    </ul>
</footer>

<section class="ui-container index">
    <div class="ui-slider" id="news-slider">
        <ul class="ui-slider-content">
            <li><span style="background-image:url(uploads/images/1.jpg)"></span></li>
            <li><span style="background-image:url(uploads/images/2.jpg)"></span></li>
            <li><span style="background-image:url(uploads/images/3.jpg)"></span></li>
        </ul>
    </div>
    <section class="ui-panel ui-panel-news">
        <h2 class="ui-arrowlink">最新资讯</h2>
        <ul class="ui-list ui-list-pure ui-border-tb">
            <li class="ui-border-t">
                <a href=""><h3>这本书太赞了，每次看都有不一样的体会和感悟，超级喜欢！期待大结局。</h3></a>
                <p><span class="date">2016-02-01</span></p>
            </li>
            <li class="ui-border-t">
                <a href=""><h3>这本书太赞了，每次看都有不一样的体会和感悟，超级喜欢！期待大结局。</h3></a>
                <p><span class="date">2016-02-01</span></p>
            </li>
            <li class="ui-border-t">
                <a href=""><h3>这本书太赞了，每次看都有不一样的体会和感悟，超级喜欢！期待大结局。</h3></a>
                <p><span class="date">2016-02-01</span></p>
            </li>
            <li class="ui-border-t">
                <a href=""><h3>这本书太赞了，每次看都有不一样的体会和感悟，超级喜欢！期待大结局。</h3></a>
                <p><span class="date">2016-02-01</span></p>
            </li>
        </ul>

    </section>
    <section class="ui-panel ui-panel-product">
        <h2 class="ui-arrowlink">产品展示</h2>
        <ul class="ui-grid-trisect">
            <li>
                <div class="">
                    <img src="uploads/images/3.jpg" alt="" class="product-img">
                    <div>
                        <h4 class="ui-nowrap-multi">美味葡萄酒</h4>
                        <h5 class="ui-nowrap">小仙</h5>
                    </div>
                </div>
            </li>
            <li>
                <div class="">
                    <img src="uploads/images/1.jpg" alt="" class="product-img">
                    <div>
                        <h4 class="ui-nowrap-multi">82年的拉菲</h4>
                        <h5 class="ui-nowrap">小仙</h5>
                    </div>
                </div>
            </li>
            <li>
                <div class="">
                    <img src="uploads/images/2.jpg" alt="" class="product-img">
                    <div>
                        <h4 class="ui-nowrap-multi">夜光葡萄酒</h4>
                        <h5 class="ui-nowrap">小仙</h5>
                    </div>
                </div>
            </li>

        </ul>
    </section>


</section>
<script src="/js/lib/requirejs/require.js"></script>
<script src="/js/lib/requirejs/require-config.js"></script>
<script>
    require(["index"], function (index) {

    })
</script>
</body>

</html>